/*Asterisk wildcard selector*/
* {
    /*Remove default styles added by browsers*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Header*/
header {
    background-color: aqua;
}

/*Main*/
main {
    background-color: lemonchiffon;
}

/*Footer*/
footer {
    background-color: greenyellow;
}