/*Asterisk wildcard selector*/
* {
    /*Remove default styles added by browsers*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Header*/
header {
    background-color: aqua;
    padding: 0 1rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.menu-main {
    display: flex;
    flex-direction: column;
}

.navbar a {
    text-decoration: none;
    margin-bottom: 1em;
}

#active {
    text-decoration: underline;
}

/*Styles for navbar with dropdown toggle*/
nav {
    position: absolute;
    background-color: aqua;
    padding: 0 1rem;
    width: 100%;
    left: 0;
    box-shadow: 0 1px 2px black;
    display: none;
    top: 100%;
}

/*Navbar toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main*/
main {
    background-color: lemonchiffon;
    /*Make body take upp surplus space*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: greenyellow;
}

/*Media query for tablets, screen size >= 768px */
@media screen and (min-width: 768px) {

    /*Header*/
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        position: relative;
        display: flex;
        box-shadow: none;
        width: 100%;
        justify-content: center;
    }

    .menu-main {
        display: flex;
        flex-direction: row;
    }

    .nav-toggle-label {
        display: none;
    }

    nav a {
        margin: 0 3rem;
    }


}