/*Import Google Fonts Poppins and Life Savers*/
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Asterisk wildcard selector*/
* {
    /*Remove default styles added by browsers*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: rgb(255, 247, 0);
    color: black;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 3px;
    padding: 10px 13px;
    transition-duration: 0.4s;
    font-weight: 700;
    font-size: 1.2rem;
}

button:hover {
    background-color: rgb(233, 214, 0);
    box-shadow: 2px 2px 5px rgb(190, 188, 188);
}

button:active {
    box-shadow: 2px 2px 5px rgb(76, 74, 74);
}

.button-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/*Header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: black;
}

.menu-main {
    display: flex;
    flex-direction: column;
}

/*Logo styles*/
.logo-container a {
    font-family: 'Life Savers', serif;
    font-weight: 800;
    font-size: 1.6rem;
}

/*Styles for navbar with dropdown toggle*/
nav {
    position: absolute;
    background-color: #ffffff;
    padding: 0 1rem;
    padding-top: 1rem;
    width: 100%;
    left: 0;
    box-shadow: 0 1px 2px black;
    display: none;
    top: 100%;
}

/*Navigation link styles*/
.navbar a {
    padding: 1rem 0;
    font-size: 1.2rem;
    color: black;
}

.navbar a:hover {
    background-color: red;
}

#active {
    text-decoration: underline;
}

.menu-split a {
    display: block;
}

/*Navbar toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main*/
main {
    background-color: rgb(244, 243, 235);
    /*Make body take upp surplus space*/
    flex: 1 0 auto;
    /*Push below header*/
    margin-top: 47.5px;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../images/watercolour-paints-with-brush.webp") no-repeat center center/cover;
    position: relative;
}

#text-overlay {
    background-color: rgba(255, 255, 255, 0.80);
    font-size: 120%;
    width: 80%;
    left: 10%;
    min-height: 250px;
    padding: 40px 10px;
    position: absolute;
    bottom: 100px;
}

.hero-button button {
    width: 200px;
}

/*Course overview section*/
.text-section {
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    font-size: 1.2rem;
}

.right-align {
    text-align: right;
}

/*Testimonial section*/
.testimonial-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    min-height: 550px;
}

.testimonial-section img {
    border-radius: 50%;
    width: 86%;
    margin: auto;
}

.quote-container {
    padding: 20px 0;
}

.quote {
    font-size: 1.2rem;
}

/*Info box section*/
.info-box-div {
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    min-height: 200px;
    font-size: 1.2rem;
    line-height: 300%;
}

.info-box-div ol {
    list-style-type: none;
}

.big-bold-text {
    font-weight: 700;
    font-size: 1.4rem;
}

/*User art section*/
.user-art-section {
    width: 100%;
    background-color: #ffffff;
}

.user-art-heading {
    padding: 15px;
    font-weight: 500;
}

.user-art-images {
    width: 98%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.user-art-images img {
    width: 49%;
    margin: auto;
    margin-top: 1%;
}

.user-art-social {
    padding: 15px;
    padding-bottom: 20px;
}

.user-art-social i {
    font-size: 3rem;
    padding: 10px;
    color: black;
}

/*Footer*/
footer {
    background-color: greenyellow;
}

footer div {
    margin: 1rem 0.5rem;
}

footer address {
    font-style: normal;
}

/*Media query for tablets, screen size >= 768px */
@media screen and (min-width: 768px) {

    /*General styles*/
    button {
        padding: 13px 16px;
    }

    /*Header*/
    header {
        flex-direction: column;
        align-items: center;
    }

    /*Styles for navigation bar*/
    nav {
        position: relative;
        display: flex;
        box-shadow: none;
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    .menu-main {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-toggle-label {
        display: none;
    }

    /*Make sure nav is displayed as flex even if nav toggle is checked*/
    #nav-toggle:checked~nav {
        display: flex;
    }

    /*Styles for navigation bar links*/
    .navbar a {
        margin: 0;
        padding: 0.5rem 2.2rem;
    }

    /*Logo styles*/
    .logo-container {
        text-align: center;
        border-bottom: 1px solid black;
        margin-top: 1rem;
    }

    .logo-container a {
        padding: 0 3rem;
        padding-top: 1rem;
        font-size: 2rem;
    }

    /*Main*/
    main {
        /*Push below header*/
        margin-top: 100.5px;
    }

    /*Hero*/
    #text-overlay {
        font-size: 140%;
        padding: 40px 30px;
    }

    .hero-button button {
        width: 220px;
        font-size: 1.4rem;
    }

    /*Course overview section*/
    .text-section {
        padding: 40px;
        font-size: 1.3rem;
    }

    /*Testimonial section*/
    .testimonial-section {
        padding: 40px;
        flex-direction: row;
        align-items: center;
        min-height: 300px;
    }

    .testimonial-section img {
        width: 250px;
    }

    .quote-container {
        padding-left: 30px;
    }

    .quote {
        font-size: 1.3rem;
    }

    /*Info box section*/
    .info-box-section {
        display: flex;
        justify-content: space-between;
        width: 96%;
        margin: auto;
    }

    .info-box-div {
        padding: 15px;
        margin: 7px;
        min-height: 150px;
        font-size: 1rem;
        line-height: 300%;
        flex-basis: 33%;
    }

    /*User art section*/
    .user-art-section {
        margin-top: 25px;
        padding-bottom: 30px;
    }

    .user-art-heading {
        padding: 20px 40px;
        font-weight: 600;
        font-size: 1.3rem;
    }

    .user-art-container {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }

    .user-art-images {
        width: 50%;
    }

    .user-art-images img {
        width: 48%;
        margin-top: 2%;
    }

    .user-art-social {
        width: 35%;
    }

    .user-art-social p,
    a {
        margin-top: 25%;
        font-size: 1.4rem;
    }

    /*Footer*/
    footer {
        display: flex;
        justify-content: space-between;
    }

    #footer-copyright {
        display: flex;
        align-items: end;
    }
}

/*Media query for laptops - screen size 992px or wider*/
@media screen and (min-width: 992px) {

    /*Header*/
    header {
        flex-direction: row;
        justify-content: left;
    }

    nav {
        width: fit-content;
        justify-content: space-between;
        flex: 1;
        margin-left: 0.5rem;
    }

    /*Logo styles*/
    .logo-container {
        border-right: 2px solid red;
        border-bottom: none;
        margin: 0.5rem 0;
    }

    .logo-container a {
        padding-right: 2rem;
        padding-left: 0.5rem;
        font-size: 2.2rem;
    }

    /*Navbar link styles*/
    .navbar a {
        padding: 0.5rem 1.8rem;
    }

    /*Main*/
    main {
        /*Push below header*/
        margin-top: 59px;
    }

    /*Course overview section*/
    .text-section {
        padding: 40px;
        width: 85%;
        max-width: 1200px;
        margin: auto;
        margin-top: 30px;
    }

    /*Testimonial section*/
    .testimonial-section {
        width: 85%;
        max-width: 1200px;
        margin: auto;
        margin-top: 30px;
        background-color: #ffffff;
    }

    /*Info box section*/
    .info-box-section {
        width: 85%;
        max-width: 1200px;
        margin-top: 30px;
    }

    .info-box-div {
        padding: 15px;
        margin: 7px;
        min-height: 150px;
        font-size: 1rem;
        line-height: 300%;
        flex-basis: 33%;
    }

    /*User art section*/
    .user-art-section {
        padding-bottom: 30px;
        width: 85%;
        max-width: 1200px;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .user-art-heading {
        padding: 20px;
        font-size: 1.3rem;
    }

    .user-art-container {
        width: 100%;
    }

    .user-art-images {
        width: 75%;
        padding-left: 10px;
    }

    .user-art-images img {
        width: 24%;
        margin-top: 0;
    }

    .user-art-social {
        width: 25%;
    }

    .user-art-social p,
    a {
        margin-top: 5%;
        font-size: 1.1rem;
    }
}